@font-face {
  font-family: DigitalClock;
  src: url("Digital Font FIles/digital-7\ \(mono\ italic\).ttf");
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
p{
    margin:0;
}

.containerContent{
    background-color: red;
    display:flex;
    min-height: 80vh;
    min-width: 80vw;
    justify-content: center;
}

.TeamDiv{
    flex: 1;
    margin: 2vh;
    background-color: rgba(0, 0, 255, 0.541);
    display: grid;
    gap: 5vh;
    justify-items: center;
    align-content: center; /*Vertical Centering */
    min-height: 100%;
    max-width: 30%;
    /* padding: 2vh; */
}

.ButtonsDiv{
    width: fit-content;
    min-width: 40%;
    min-height: 13vh;
    background-color: rgba(94, 255, 0, 0.541);
    justify-items: center;
    align-content: center;

    display: flex;
    flex-direction: column;
    gap: .7vh
    
}

.AddPointsDiv{
    width: 100%;
    height: 50%;
    display: flex;
    gap: clamp(4px, .5vw, 6px);    
}

.FoulButtonDiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.ButtonsDiv>div>button{
    flex: 1;
    border: 0px;
    border-radius: .3rem;
    font-weight:700;
    font-size: 1.9vh;

    box-shadow: rgb(24, 24, 24) 3px 3px ;
}


div{
    /* border: 1px solid black; */
}

.TeamTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:clamp(1em, 3vw, 3em);
    /* border: 2px solid black; */
    width:30%;
    height: 50%;

    font-weight: 900;
    color: white;
}

.PointsP{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:clamp(1em, 3vw, 3em);
    /* border: 2px solid black; */
    width: 30%;
    height: 50%;

    font-size: 15vh;
    font-weight: 900;
    color: white;
    font-family: DigitalClock, monospace;
    text-shadow: black;
}

.FoulP{
    display: flex;
    position: absolute;

    top: 69%;
    right:-5%;
    
    font-size: 5vh;
    font-weight: 900;
    color: orange;
    font-family: DigitalClock, monospace;
}

.PointsAndFoulDiv{
    position:relative;
    width: fit-content;
    justify-items: center;
    align-content: center;
    /* overflow: hidden; ????*/
}


